@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


section {
    border: 1px solid #000;
    padding: 1rem;
    margin-bottom: 2rem;
}

.heading{
    font-family:'Karma';
    font-style:normal;
    font-size: 75px;
    line-height: 1;
    color: #f96d00;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.text-field{
    font-family:'Karma';
    font-style: normal;
    font-size:50px;
    line-height: 1;
}
.information-field{

    font-family:'Libre Baskerville';
    font-style: normal;
    line-height: 1;
}

.select-button{
    background-color:#00bbf0 ;
    border-radius: 19px;
    border: 2px solid transparent; 
    padding-top: 5px;;
    padding-left: 50px; 
    padding-right: 50px;
    color: #ffffff;
    font-family:'Karma';
    font-style: normal;
    font-size:50px;
}

.rent-button{
    background-color:#00bbf0 ;
    border-radius: 17px;
    border: 2px solid transparent; 
    padding-top: 5px;
   
    padding-left: 35px; 
    padding-right: 35px;
    color: #ffffff;
    font-family:'Karma';
    font-style: normal;
    font-size:50px;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.card-big1{
    max-width:35rem;
    display:flex;
    flex-direction:column;
    background-color:#ffe3b0;
    & figure {
        width: 60%;
        margin: 80px  85px;
        box-shadow: 0.5px 1px rgba(0, 0, 0, 0.5);
        & img {
            width: 100%;
        }
    }
   
    & .text-field {
        text-align: center; 
        margin: 1; 
    }

    & div {
        padding: 1rem;
    }

    & .rent-button {
        margin: 1rem auto; 
        display: block; 
}
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 0 5px 0 #00bbf0;
}

.card-big2{
    max-width:35rem;
    display:flex;
    flex-direction:column;
    background-color:#ffe3b0;
    & figure {
    
        margin: 20px  28px;
        box-shadow: 0.5px 1px rgba(0, 0, 0, 0.5);
        & img {
            width: 100%;
            height: 200px; 
            object-fit: cover;
        }
    }
   
    & .text-field {
        text-align: center; 
        margin: 1; 
        
    }
    & .choice {
        margin: 1rem 1rem;
        padding-left: 22px;
        display: block; 
        font-family:'Karma';
        font-style: normal;
        font-size:50px;
        line-height: 1;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 0 5px 0 #f96d00;
}
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 0 5px 0 #f96d00;
}


.card-big3{
    max-width:35rem;
    display:flex;
    flex-direction:column;
    background-color:#ffe3b0;
    & figure {
    
        margin: 30px  28px;
        box-shadow: 0.5px 1px rgba(0, 0, 0, 0.5);
        & img {
            width: 100%;
            height: 200px; 
            object-fit: cover;
        }
    }
   
    & .text-field {
        text-align: center; 
        margin: 20px;
     
    }
    p {
        margin-bottom: 10px;
    }
   
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 0 5px 0 #f96d00;
}

.card-big4{
    max-width:35rem;
    display:flex;
    flex-direction:column;
    background-color:#ffe3b0;
    text-align: center;
    position: relative; 
    }
   
    & .heading.inside-card{
        
        font-size: 75px;
        position: absolute;
        margin: 10px;
        padding-top: 10px;
    }
    & .button-container{
        padding-top: 120px;
        margin-left: 80px;
           
        }
    & .select-button1{
        background-color:#00bbf0 ;
    border-radius: 19px;
    border: 2px solid transparent; 
    padding-top: 5px;;
    padding-left: 50px; 
    padding-right: 50px;
    color: #ffffff;
    font-family:'Karma';
    font-style: normal;
    font-size:50px;
        display: block;
    }
    & .footerimg{
        border-radius: 30px 30px 0px 0px;
        margin: auto;
        padding-top: 200px;
    }
   









